{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Page not found{% endblock %}

{% block customcss %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock customcss %}


{% block content %}
    <br><br><br>
    <h1>search functionality</h1>

    <div class="logo">
        <i class="ion-ionic logo__icon"></i>
     </div>
     <nav>
        <div class="search-bar">
          <form class="search">
            <input type="search" class="search__input" name="search" placeholder="Search" onload="equalWidth()" required>
            <button class="search__btn">Search</button>
            <i class="ion-ios-search search__icon"></i>
          </form>
          <div class="suggestion">
            <div class="suggestion__content">
              <div class="suggestion__content-left-side">
               <h5>Popular Categories</h5>
               <ul>
                 <li>Marketing Material</li>
                 <li>Just Sold</li>
                 <li>Small Business Card</li>
                 <li>Mailing</li>
                 <li>Just List</li>
               <ul>
              </div>
              <div class="suggestion__content-right-side">
               <h5>Popular Keywords</h5>
               <ul>
                 <li>Business Card</li>
                 <li>Brochures</li>
                 <li>Just List Just Sold</li>
                 <li>Flyers</li>
               </ul>
              </div>
            </div>
          </div>
       </div>
     </nav>
     <div class="menu">
       <i class="ion-drag menu__icon"></i>
     </div>

     <script>var input = document.querySelector('.search__input');
        var inputWidth = input.offsetWidth;
        var suggestion = document.querySelector('.suggestion');
        var mobileSearch = document.querySelector('.search__icon');
        var menu = document.querySelector('.menu');
        var logo = document.querySelector('.logo');
        var logoIcon = logo.querySelector('.logo__icon');


        function equalWidth() {
          var input = document.querySelector('.search__input');
          var inputWidth = input.offsetWidth;
          suggestion.style.width = inputWidth + "px" ;
        }

        function showSuggestion() {
          suggestion.classList.add('active');
        }

        function hideSuggestion() {
          suggestion.classList.remove('active');
        }

        document.addEventListener('DOMContentLoaded', function() {
          equalWidth();
          input.addEventListener('focus', showSuggestion);
        })

        document.addEventListener('click', function(e) {
          var target = e.target.className;
          e.stopPropagation();
          if (target != "search__input" && target != "suggestion__content-left-side" && target != "suggestion__content-right-side" && target != "suggestion__content" ) {
            hideSuggestion();
            console.log(target);
          }
        });

        var addEvent = function(object, type, callback) {
            if (object == null || typeof(object) == 'undefined') return;
            if (object.addEventListener) {
                object.addEventListener(type, callback, false);
            } else if (object.attachEvent) {
                object.attachEvent("on" + type, callback);
            } else {
                object["on"+type] = callback;
            }
        };

        addEvent(window, 'resize', function(event) {
          suggestion.style.width = '';
          equalWidth();
        });

        function openMobileSearch() {
          logo.classList.toggle('hide-element');
          menu.classList.toggle('hide-element');
          input.classList.toggle('mobile-search');
          mobileSearch.classList.toggle('ion-ios-search');
          mobileSearch.classList.toggle('ion-close-round');
          mobileSearch.classList.toggle('close-icon');
        }

        mobileSearch.addEventListener('click', function() {
          openMobileSearch();
        })</script>

{% endblock content %}
