{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load compress %}

{% block customcss %}
{% compress css %}
<link href="{% static 'css/userDashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/homepageStyle.css' %}" rel="stylesheet">
<link href="{% static 'css/trainerDashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/chat-style.css' %}" rel="stylesheet">
<!-- <link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css"
      rel="stylesheet" /> -->
<!-- <link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css" rel="stylesheet" /> -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" type="text/javascript"></script>
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js" type="text/javascript"></script> -->
<!-- <script src="{% static 'js/circle-progress.min.js' %}" type="text/javascript"></script> -->

{% endcompress %}
{% endblock customcss %}
{% block content %}

<section>





    <div class="full-body">
        <div class="left-body">
            <div class="left-body-title">My courses</div>
            <div class="container">
                <div class="row">
                    <div class="col-sm trainer-video-div">
                        <div class="container">
                            <div class="content">
                                <a href="/workout/create/" target="_blank">
                                    <div class="sub-content"></div>

                                    <img src="{% static 'images/add_video.png' %}" class="add-video-image" />
                                    <div class="content-desc faded">
                                        <h3>Add new video</h3>
                                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry.</p> -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    {% for item in workout_plans %}
                    {% if forloop.counter0|add:1|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    <div class="col-sm trainer-video-div">
                        <div class="container">
                            <div class="content">
                                <a href="#" target="_blank">
                                    <div class="sub-content"></div>

                                    <img src="{{item.thumbnail.url}}" class="content-image" />
                                    <div class="content-desc faded">

                                        <h3>{{item.title}}</h3>
                                        <p>{{item.description}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="right-body">
            <div class="user-image-div">
                <img src="./../../static/images/img_user_profile.png" alt="User profile photo"
                    class="user-profile-image">
                <div class="user-info-div">
                    <span style="font-size:2rem">{{trainer.username}}</span></br>
                </div>
            </div>
            <div class="events-div">
                <div id="upcoming-events">Upcoming appointments</div>
                <div class="date-picker-div">
                    <label for="datepicker">Pick a Date
                        <input type="text" id="datepicker" autocomplete="off">
                    </label>
                </div>

                <div class="events-container">
                    {% for item in appointments %}
                    <div class="single-event">
                        <div class="single-event-left">
                            <span class="event-time">{{item.start_time|time:"h:i A"}}</span>
                            <span class="event-date">{{item.start_time|date:"F d"}}</span>
                        </div>

                        <div class="single-event-partition"></div>
                        <div class="single-event-right">

                            <span class="single-event-title"><b>{{item.client.username}}</b></span>
                            <span class="single-event-desc">{{item.notes}}</span>
                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="chat-icon" id="chat-icon">
        <i class="fas fa-comments"></i>
    </div>

    <div class="chatbot-container" id="chatbot-container">
        <div class="chatbot-header">
            <h3>Healthtrack365 Chat Support</h3>
            <button class="close-btn">&times;</button>
        </div>
        <div class="chatbot-body">
            <p>Welcome to the chat service! Select an option:</p>
            <div class="form-group">
                <!-- <input type="text" class="form-control" id="message-input" placeholder="Enter your message..."> -->
            </div>
            <form method="post" action="{% url 'chat:room_detail' 'general' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Chat with Your Trainer</button><br><br>
            </form>
            <form method="post" action="{% url 'chat:room_detail' 'support' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-warning">Chat with Support</button>
                <br><br>
            </form>
            <form method="post" action="{% url 'chat:room_detail' 'faq' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info">FAQs</button><br><br>
            </form>
        </div>
    </div>
    <div class="chat-overlay" id="chat-overlay"></div>
</section>

{% endblock content %}

{% block inline_javascript %}
<!--
    REFERENCES:
    1. https://codepen.io/smfoisal/pen/bjJqxL
 -->
<script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: "dd-mm-yy"
            , duration: "fast"
        });
    });</script>

<script>
    const chatIcon = document.getElementById('chat-icon');
    const chatbotContainer = document.getElementById('chatbot-container');
    const chatOverlay = document.getElementById('chat-overlay');
    const closeBtn = chatbotContainer.querySelector('.close-btn');


    // Show the chatbot container and overlay when the chat icon is clicked
    chatIcon.addEventListener('click', function () {
        chatbotContainer.style.display = 'block';
        chatOverlay.style.display = 'block';
    });

    // Hide the chatbot container and overlay when the close button is clicked
    closeBtn.addEventListener('click', function () {
        chatbotContainer.style.display = 'none';
        chatOverlay.style.display = 'none';
    });

    // Hide the chatbot container and overlay when the overlay is clicked outside the container
    chatOverlay.addEventListener('click', function (event) {
        if (event.target === chatOverlay) {
            chatbotContainer.style.display = 'none';
            chatOverlay.style.display = 'none';
        }
    });

</script>
{% endblock inline_javascript %}
