{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block customcss %}
{% compress css %}
<link href="{% static 'css/homepageStyle.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock customcss %}
{% block content %}

<!-- CARDS  -->
<br><br><br>
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Workouts</h1>
    </div>
    <hr />
  </div>
</div>
<div class="text-justify">
<div class="container-fluid padding">
  <div class="card-deck">
    {%for workout in workouts%}
    <div class="card"  >
      <img alt="vegan-diet-plan-image" class="card-imd-top img-fluid " src="{% static 'images/card1.jpg'%}" style="object-fit: cover ;height : 30rem; "  />
      <div class="card-body">
        <h4 class="card-title">{{workout.title}}</h4>
        <p class="card-text ">
          {{workout.description}}</p>
        <p class="card-text">Instructor : <a href="#" data-toggle="modal" data-target="#myModal">workout.trainer.email</a></p>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Lauren M.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p> After studying kinesiology at Ivytech, Lauren became a fitness instructor to empower older adults to regain strength, maintain balance, and build confidence while prioritizing their ability to age in place. As a student of Public Health, Lauren seeks to provide assurance to the Bloomington community by offering the benefits of yoga to all. Over the summer of 2018, Lauren completed the 200 Teacher Training program at Vibe Yoga Studio. Ultimately, Lauren aims to lead a yoga session that is accessible and inclusive to everybody. Lauren sincerely hopes that each one of her yoga sessions can be a resource of inspiration and support for all who attend.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-outline-secondary" href="#">Add to cart</a>

      </div>
    </div>
    {% endfor %}
    <!-- <div class="card">
      <img alt="Mediterranean-diet-plan-image" class="card-imd-top img-fluid" src="{% static 'images/dietcard2.jpg'%}" style="object-fit: cover; height : 30rem;" />
      <div class="card-body">
        <h4 class="card-title">Mat Pilates</h4>
        <p class="card-text">
          Strengthen the core postural muscles of the abdominals, lower back, as well as the chest, upper back, shoulders, and glutes.
          Focus on controlled movements and exercises to create strong, lean muscles.
          Detailed instruction on alignment will be given in this session and small equipment may be introduced.
        </p>
        <p class="card-text">Instructor : <a href="#" data-toggle="modal" data-target="#myModal">Kaitlyn K.</a></p>
        <!-- Modal -->
        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Kaitlyn K.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Kaitlyn is a junior studying theatre and creating an Individualized Major Program combining ballet, contemporary dance, and media. They received their Pilates certification in the spring of 2022, and they are so excited to teach and empower participants to feel good about themselves!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-outline-secondary" href="#">Add to cart</a>


      </div>
    </div>
    <div class="card">
      <img alt="keto-diet-plan-image" class="card-imd-top img-fluid" src="{% static 'images/keto.jpg' %}" style="object-fit: cover; height : 30rem;" />
      <div class="card-body">
        <h4 class="card-title">HIIT</h4>
        <p class="card-text">
          (High Intensity Interval Training) Complete a full body workout with resistance and cardio bursts in just 30 minutes!
          Short intervals of high intensity cardio or strength movements will keep your heart rate elevated through the entire workout.
          You're guaranteed to sweat in this challenging but rewarding session!
        </p>
        <p class="card-text">Instructor : <a href="#" data-toggle="modal" data-target="#myModal">Georgia G.</a></p>
        <!-- Modal -->
        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Georgia G.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Georgia is studying dietetics with a minor in personal well-being. She loves all things nutrition and health and wellness. She is excited to teach strength core and core!</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-outline-secondary" href="#">Add to cart</a>

      </div>
    </div> -->
  </div>
</div>
</div>
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#"></a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="dietplan2.html">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">>></a></li>
    </ul>
  </nav>
</div>


{% endblock content %}
