body {
  font-family: 'Montserrat';
  text-align: center;
}

/* Footer Section */
footer {
  position: relative;
  height: 100%;
}

.icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
    position: static;
  }
}
/*Sign in*/
.divider:after,
.divider:before {
  content: '';
  background: #eee;
  padding: auto;
  flex: 1;
  height: 1px;
}
