{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load compress %}

{% block title %}HealthTrack365 Chat Support{% endblock title %}

{% block customcss %}
{% compress css %}
<link href="{% static 'css/signin_style.css' %}" rel="stylesheet">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
{% endcompress %}
{% endblock customcss %}


{% block content %}

<section class="hero is-info">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title is-2">
        HealthTrack365 Chat Support
      </h1>
      <h2 class="subtitle is-5">
        Need more guidance ?
        <br /> Contact your trainers and help us serve you better
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      {% for room in rooms %}
      <div class="column">
        <div class="card rounded-edges">
          <div class="card-content">
            <p class="title is-4">{{room.name}}</p>
            <div class="content">
              <p>
                {{room.description}}
              </p>
              <a href="rooms/{{room.slug}}" class="button">Join Room</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
