{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block content %}
{% block customcss %}
{% compress css %}
<link href="{% static 'css/error403.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock customcss %}

{% block inner %}
    <h1>{% translate "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktranslate %}We have e-mailed you. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
{% endblock %}
